
.portfolio-area{
    padding:60px 0px;
    background:#f1f1f1;
}
.single-item{
    display: inline-block;
    vertical-align: middle;
    width:25%;
    margin:-2px;
    position: relative;
}
.img-thumbnail img{
    width:100%;
}
.img-content{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background:#00000078;
    transition: .4s;
    cursor: pointer;
    transform: scaleY(0);
    transform-origin: center center;
    opacity:0;
}
.single-item:hover .img-content{
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}
.img-content h2{
    color:#88c3ff;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom:10px;
}
.img-content p{
    color:#fff;
    font-size: 18px;
    padding:0px 25px;
}

/*Controls CSS*/
button:focus{
    outline: none;
}
.controls{
    text-align: center;
    margin-bottom: 50px;
}
.controls button{
    background: #000;
    border:none;
    color:#fff;
    font-size:16px;
    text-transform: uppercase;
    font-weight: 600;
    padding:10px 23px;
    margin-bottom: 5px;
    transition: .4s;
}
.controls button:hover, button.mixitup-control-active{
    background: #3c91e9;
    cursor:pointer;
}

/* Responsive CSS */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
    .single-item{
        width:100%;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px){
    .single-item{
        width:50%;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){
    .single-item{
        width:33.33%;
    }
    
}

